[Unit]
Description=Sync prayer times calendar and add at jobs 

[Service]
Type=simple
ExecStart=%h/.local/bin/prayer-times sync

[Install]
WantedBy=default.target
