[Unit]
Description=A job to retrive prayer times using curl

[Service]
Type=simple
ExecStart=%h/.local/bin/prayer-times.sh

[Install]
WantedBy=default.target
