[Unit]
Description=A job to retrive prayer times using wget

[Service]
Type=simple
ExecStart=%h/.local/bin/prayer-times sync

[Install]
WantedBy=default.target
